  html,body{
      
    background-color: #FFFFFF;
    overflow-x: hidden;
  }
  .background{
    background-color: #0B0D26;

    /* background-color: #46474a; */
  }
  .background-img{
    background-image: url('https://www.zenithdie.com/WORKNC_Full_3X_License_marquee.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Optional: Adds parallax effect */
    width: 100%;
    min-height: 100vh; /* Ensures it covers full viewport height */
  }
  /* Make the navbar transparent */
  .navbar {
    /* background-color: rgb(196, 184, 184) !important; Semi-transparent background */
    /* background-color: #4263af; */
    background-color: white;
    color: black !important;
    position:  fixed;  /*Change from absolute to fixed for sticky behavior */
    width: 100%;
    height: 100px;  /* Default height */
    top: 0;
    z-index: 1000;
    /* border-bottom: 1px solid #535353; */
    /* padding-top: 2rem; */
    transition: all 0.3s ease-in-out;  /* Smooth transition for height and background */
    /* padding: 50px; */
  }
  .navbar.scrolled {
    height: 100px; /*  Reduced height when scrolled*/
    background-color: white !important;  /* Darker background when scrolled */
    border-bottom: 1px solid grey; /* Darker border */
  }

  .navbar-brand img {
    padding-bottom: 8px;
    /* min-width: 193px; */
    height: 85px;
    max-height: 100px;
    max-width: 250px;
    transition: all 0.3s ease-in-out; /* Smooth transition for logo resizing */
  }

  /* Shrink Logo on Scroll */
  .navbar.scrolled .navbar-brand img {
    max-width: 150px;  /* Shrink logo on scroll */
  }

  /* Ensure the navbar text is visible over the slideshow */
  .navbar-nav .nav-link,
  .navbar-text {
    color: #fff ; 
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.7);
  }

  .navbar-toggler-icon {
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); */
    color: #0303039c;
  }
  .nav-link{
    transition: all 0.6s ease;
    font-size: 1.2rem;
    position: relative;
  }
.fs-7{
  font-size: 17px;
  font-weight: 500;
}
.under-line{
  background-color: grey;
height: 2px;
width: 0px;
position: absolute;
bottom: 3px;
left: 6px;
transition: all 0.3s ease;
}

.home .under-line{
background-color: grey;
height: 2px;
width: 60px;
position: absolute;
bottom: 3px;
left: 6px;
}
.home:hover .under-line{
  width: 60px;
  transition: all 0.3s ease;
}

.pages:hover .under-line{
  width: 90px;
  transition: all 0.3s ease;
}
.projects:hover .under-line{
  width: 88px;
  transition: all 0.3s ease;
}

.contact:hover .under-line{
  width: 85px;
  transition: all 0.3s ease;
}


/*** Index Page Start ***/
.home-banner{
  /* height: 100vh  ; */
  position: relative;
}
.top{
  height: 30rem;
  width: 30rem;
  /* position: absolute; */
  top: 0;

}
.left{
  height: 30rem;
  width: 2rem;
  position: absolute;
  right: 0  ;
}
.margin{
  margin-top: 7rem;
}
.banner{
  height: 45rem;
  width: 35rem;
  /* background-image: url('https://fabrica.ancorathemes.com/wp-content/uploads/2023/02/image-116-copyright.jpg'); */
  /* background-image: url('../img/banner1.jpg'); */
  background-image: url('https://img.freepik.com/premium-photo/close-up-machine-part-factory_1048944-30896040.jpg?ga=GA1.1.1643490475.1742809442&semt=ais_hybrid');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title{
  padding-left: 2rem;
  /* padding-top: 2rem; */
  /* padding-right: 2rem; */
  color: #FCFCFC;
  /* margin-top: 15%; */
  -webkit-text-stroke-width: 0px;
  font-size: 5.0vw;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -0.03em;
  word-wrap: break-word;
  font-family: Outfit, sans-serif;
}
.banner-p{
  /* padding-top: 0rem; */
  /* margin-top: -10p; */
  padding-left: 2rem;
  padding-bottom: 2rem;
  line-height: 1.5em;
 color:#9ba2ad
}
.btn-left{
  padding-left: 2rem;
}
.btn-red{
  /* margin-left: 3%; */
  padding: 20px;
  border: none;
  outline: none;
  background-color: #FA4729;
}
.elementor-spacer-inner {
  height: 100px ;
  width: 100%;
}
@media (max-width: 480px) {
  .elementor-spacer-inner{
    height: 50px !important;

  }
  
}
.offer-span{
  color: #181d4e;
  font-weight: 500;
  text-transform: uppercase;
}
.offer-h{
  line-height: 1.1;
  font-size: 3.5rem;
  color: #181d4e;
}
.product-offer-h{
  line-height: 1.1;
  font-size: 3.1rem;
  color: #181d4e;
}
 .quality{
  /* font-size: 4rem !important; */
  max-width: 30rem;
}

.offer-p{
  color: #5a5a67;
  /* font-size:  ; */
}
.text-indigo{
  color: #181d4e;
}
.bg-transparent{
  background: transparent;
}
/* .construction{
  position: relative;
}
.metal{
  position: relative;
}

.read{
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: -10px;
  bottom: 0px ;
  transform: translateX(-100%);
  transition: all 0.5s linear;
}
.metal:hover .read{
  position: relative;
  display: inline;
  left: 0px;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-out;
}
.oil:hover .read{
  position: relative;
  display: inline;
  left: 0px;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-out;
}
.power:hover .read{
  position: relative;
  display: inline;
  left: 0px;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-out;
}
.construction:hover .read{
  position: relative;
  display: inline;
  left: 0px;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-out;
} */

.work{
  background-color: #f8f8f8;

}
.img-space{
  margin-top: 10rem;
}
.crd-image {
  position: relative;
  transition: all 1s ease; /* Transition for the entire .crd-image */
}

.crd-image-bottom {
  /* height: 100px; */
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease; /* Smooth transition for opacity */
}
.crd-image-overlay{
  position: absolute;
  
  opacity: 0;
  transition: opacity 0.5s ease;

}
.crd-image:hover .crd-image-bottom {
  opacity: 1;   /* Make visible */
}
/* How-we-work Section */
.how-we-work {
  padding: 100px;
  overflow: hidden;
}

.work-item {
  text-align: center;
  position: relative;
  padding: 30px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.work-item:hover {
  transform: translateY(-10px); /* Smooth lifting effect */
  box-shadow: rgba(9, 29, 62, 0.11) 0px 5px 40px;
}

.work-item:hover .icon {
  color: rgb(252, 216, 33);
  border-color: #181d4e !important;
  transition: all 0.5s ease;
  border-style: solid; /* Changes from dotted to solid */
}

.work-item:hover span::after {
  background-color: #181d4e !important;
  opacity: 1; /* Now visible */
  transition: all 0.5s ease;
}

.work-item::before,
.work-item::after {
  content: '';
  background-color: #E9E9E9;
  height: 3px;
  width: 100%; /* Keep it responsive */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(141px + 30px);
  z-index: 0;
}

.work-item .icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 35px;
  display: inline-block;
  border: 3px dotted #E9E9E9;
  border-radius: 50%;
  margin-bottom: 30px;
  position: relative;
}

.work-item span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #E9E9E9;
  display: block;
  margin: 0 auto 30px auto;
  position: relative;
}

.work-item span::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease;
}


.products-index{
  background-color: #FA4729;
  /* padding: 20px; */
  height: auto;
}
.product {
  position: relative;
  height: 300px ;
  width: 300px;

}

.product img{
  height: 300px ;
  width: 300px;
}

.product h3{
  background-color: #181d4e;
  color: #ffffff;
  position: absolute;
  padding: 8px 30px;
  bottom: -3%;  
  /* left: -100%;
  opacity: 0; */
}
.product-btn{
  width: 10.5rem;

}

.countdown{
  background-color: #FA4729;
  height: 10rem;
}


.counter {
  font-size: 3.3em;
  font-weight: bold;
  margin: 10px 0;
}
.video-container{
  background-image: url('https://fabrica.ancorathemes.com/wp-content/uploads/2023/02/image-10-copyright.jpg'); /* Replace with your image path */
  /* object-fit: cover; */
  background-size: cover;  /* Ensures the image covers the entire area */
  background-position: center;  /* Centers the image */
  height: 41rem;  /* Makes the image cover the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-container a{
  position: absolute;
}
.play-button{
  padding: 20px;
  /* font-weight: 100; */
  background-color: #ffffff;
  border-radius: 50%;
  color: #181d4e;
  transition: all 0.3s linear;
}
.play-button:hover{
  color: #FA4729;
  padding: 25px;
  transition: all 0.3s linear ;
}
.text-white{
  color: #ffffff;
}
@media (min-width:768px) {
  .border-right{
    border-right: 1px solid #ffffff;
  }
  .border-right-indigo{
    border-right: 2px solid #181f7f;
  }
 
}
@media (max-width: 768px){
  .countdown{
    height: 33rem;
  }
  .margin-top{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .hero-title{
    font-size: 3rem;
  }
  .column-flex{
    flex-direction: column;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background: #ffffff;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px #dee2e6;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 20px black;
}

.navbar-nav .dropdown-menu {
    position: static;
    background: #2125298f;
}

.home .under-line{
  left: 0px;
}
.how-we-work{
  padding: 0px;
}
.video-container{
  height: 25.5rem;
}
}

@media (max-width:768px) {
  .offer-h, .product-offer-h{
    font-size: 2.5rem;
  }
  
}
@media (max-width: 480px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background: #ffffff;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px #dee2e6;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 20px black;
}
.navbar-nav .dropdown-menu {
    position: static;
    background: #2125298f;
}
.dropdown-item{
  color: #dee2e6 !important;
} 
.hero-title{
  font-size: 2.3rem;
}
.offer-h, .product-offer-h{
  font-size: 1.9rem;
} 
.video-container{
  min-height: 14rem;
  height: auto;
}
}

/* footer */
.footer{
  background-color:  #0B0D26;;
}
.color{
  color: #9ba2ad;
}
.width{
  width: 40rem;
}



@media (max-width: 480px) {
  .width{
    width: 20rem;
  }
}
@media (max-width: 355px) {
  .width{
    width: 15rem;
  }
}
/*** Index Page End  ***/




/*** Contact Page Start  ***/
.banner-contact{
  position: relative;
  height: 24rem;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/contact-banner.jpg');
}
.banner-contact h1{
  font-size: 4.0vw;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: -0.03em;
  word-wrap: break-word;
  font-family: Outfit, sans-serif;
  margin-top: 20vh;
}
.icon{
  padding: 15px;
  /* background-color: #181d4e; */
  border: 1px solid lightgray;
  border-radius: 50%;
}
.contact-background{
  background-color: #f8f8f8;
}
@media (max-width: 768px) {
.banner-contact h1{
  font-size: 3rem;
  margin-top: 25vh;
}
  
}



/*** Contact Page End ***/

/*** About Page Start ***/
.card-width{
  max-width: 35rem;
}

.mail{
  background-color: #FA4729;
  padding: 20px;
  border-radius: 50%;
  color: white;
  font-weight: 100;
}
.progress{
  height: 6px;
  /* background-color: #ffffff; */
  position: relative;
  width: 100%;
}
.fabric-progress{
  height: 100%;
  position: absolute;
  width: 80%;
  background-color: #FA4729;
}
.fabrication-progress-container{
  /* background-color: red; */
  position: relative;
}
.span-fabric{
  position: absolute;
  right: 20%;
}
.machining-progress{
  height: 100%;
  position: absolute;
  width: 95%;
  background-color: #FA4729;
}
.machining-progress-container{
  /* background-color: red; */
  position: relative;
}
.span-machining{
  position: absolute;
  right: 5%;
}
.construction-progress{
  height: 100%;
  position: absolute;
  width: 85%;
  background-color: #FA4729;
}
.construction-progress-container{
  /* background-color: red; */
  position: relative;
}
.span-construction{
  position: absolute;
  right: 15%;
}
/* .quality-images img{
  height: 300px;
} */
.quality-images{
  position: relative;
}
.quality-image12{
  position: absolute;
  top: 15rem;
  left: 5rem;
  max-height:30rem ;
  height: 217px;
  width: 300px;
  /* background-color: red; */
  background-image: url('../img/50_ton.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
}
.quality-image2 {
  position: absolute;
  top: 0rem;
  right: 5rem;
  max-height:30rem ;
  height: 400px;
  width: 300px;
  background-image: url('../img/30_ton.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.minus-margin{
  margin-top: -10rem;
}
.bg-indigo{
  background-color: #0B0D26;
}
.teamwork-card{
  max-height: 500px;
  min-width: 300px;
  max-width: 400px;
  min-width: 300px;
  background-color: #FA4729;
}
.teamwork-card img{
  height: 300px;
  width: 300px;
}
@media (max-width: 990px) {
  .bottom-margin{
    margin-bottom: 30rem !important;
  }
}
@media (max-width:480px) {

  .minus-margin{
    margin-top: -7rem;
  }
  .quality-image2{
    right: -1rem;
  }
  .quality-image12{
    top: 27rem;
      left: -1rem;
  }
  .about .bottom-margin{
    margin-bottom: 40rem !important;
  }
}

/*** About Page End ***/

/* Product Page Start */
.copper-lug-images{
  position: relative;
}
.copper-lug-image1{
  position: absolute;
  top: -3rem;
  left: 4rem;
  max-height:30rem ;
  height: 200px;
  border-radius: 25px;
  width: 200px;
  background-color: red;
  background-image: url('../img/product2.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 99;
}

.copper-lug-image3 {
  position: absolute;
  /* top: 0 rem; */
  right: 5rem;
  border-radius: 15px;
  max-height:30rem ;
  height: 300px;
  width: 300px;
  background-image: url('../img/product5.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.ss-cable-images{
  position: relative;
}
.ss-cable-image1{
  position: absolute;
  top: 0rem;
  left: 6rem;
  max-height:30rem ;
  height: 300px;
  border-radius: 25px;
  width: 300px;
  /* background-color: red; */
  /* background-image: url('../img/ss_cable.png'); */
  /* background-size: contain; */
  /* object-fit: contain; */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  z-index: 99;
}


.ss-cable-image3 {
  position: absolute;
  top: 6rem;
  right: 5rem;
  border-radius: 15px;
  max-height:30rem ;
  height: 300px;
  width: 300px;
  /* background-image: url('../img/ss_cable1.png'); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  z-index: 1;
}


.bg-red{
  background-color: #FA4729;
}
@media (max-width:768px) {

.copper-lug-image3{
  position: relative;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: none;
}
.copper-lug-image1{
  display: none;
}
.ss-cable-image1{
  display: none;
}
.ss-cable-image3{
  position: relative;
  top: 0rem;
  right: 0rem;
  height: 100%;
  width: 100%;
}
  
}

/* Product Page End */